version: "3.9"

services:
  api:
    build: .
    container_name: hashtag-api
    restart: always
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      PORT: 3000
      MONGO_URI: mongodb://mongo:27017/hashtags
      REDIS_URL: redis://redis:6379
      API_KEY: ${API_KEY}
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo:7.0
    container_name: hashtag-mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  redis:
    image: redis:7.2-alpine
    container_name: hashtag-redis
    restart: always
    volumes:
      - redis_data:/data
    ports:
      - "6379:6379"

volumes:
  mongo_data:
  redis_data: